:root {
  --bg-page: var(--prevail-background);
}

html, body {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  font-variant-numeric: lining-nums;
  
  &.no-scroll {
    overflow-y: hidden;
  }
}

svg {
  width: inherit;
  height: inherit;
}

button#counter {
  margin-top: 20px;
  padding: 5px 12px;
  background: red;
  border: 1px solid black;
  border-radius: 10px;
  
  &:hover {
    background: blue;
    border: 1px solid red;
    scale: 1.1;
    transform: scale(1.1);
  }
  
  &:active {
    transform: scale(0.9);
    transition: transform .1s;
  }
}
